CONFIG_USB_STORAGE=y
CONFIG_DOS_PARTITION=y
CONFIG_DISPLAY_BOARDINFO=y
# load u-boot from a different address that is not occupied by haos
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x2000
# pad so that loader starts at 0x400000 in the final image
CONFIG_SPL_PAD_TO=0x3f8000
# add a short delay to allow interupting the boot
CONFIG_BOOTDELAY=2
# change default baudrate
CONFIG_BAUDRATE=115200
# required for booting using a script
CONFIG_BOOTMETH_SCRIPT=y
# required for dt overlays
CONFIG_OF_LIBFDT_OVERLAY=y
# useful for debugging boot issues
CONFIG_CMD_BOOTDEV=y
CONFIG_CMD_BOOTMETH=y
# DFU was added in uboot 23.04 defconfig and breaks the build
# CONFIG_CMD_DFU is not set
# CONFIG_DFU_MMC is not set
# CONFIG_TOOLS_MKEFICAPSULE is not set
